/.cache
/.lsp*
/config.el
/custom.el
/eln-cache
/emojis
/forge-database.sqlite
/history
/private.el
/projectile-bookmarks.eld
/recentf
/straight
/tramp
/transient
/url

!/straight/versions/default.el

*.elc
*~