/.cache
/.lsp*
/bookmarks
/config.el
/custom.el
/eln-cache
/emojis
/forge-database.sqlite
/history
/private.el
/projects
/recentf
/straight
/tramp-auto-save
/tramp-connection-history
/transient
/url

!/straight/versions/default.el

*.elc
*~
